:root {
    --bg: #252525;
    --white: #E9E9E9;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg);
    color: var(--white);
}

a {
    color: var(--white);
}

.container {
    height: 100%
}

.center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#punchline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 29px;
    width: 100%;
}

#authors {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
}

#generate_button {
    text-align: center;
    margin-top: 75px;
    width: 100%;
}

.rightchoice {
    display: inline-flex;
    float: right;
    margin-right: 25%;
}

.leftchoice {
    display: inline-flex;
    float: left;
    margin-left: 25%;
}

.rightchoice img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

button.btn {
    cursor: pointer;
    background-color: #2389ff;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: rgb(0, 108, 196);
}

.btn:active {
    background-color: rgb(0, 82, 148);
}

.selection-container img {
    cursor: pointer;
    height: 90px;
    margin: 0 10px;
    filter: grayscale(100%);
    opacity: 0.4;
}

.rapotron-img {
    width: 50%;
}

.selected {
    filter: grayscale(0%) !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 1600px) {
    .leftchoice, .rightchoice {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #authors {
        margin-top: 60px;
    }
    .leftchoice {
        margin-left: 0;
    }
    .rightchoice {
        margin-right: 0;
    }
}